* {
  margin: 0;
  padding: 0;
}

#header,
#footer {
  width: 100vw;
  height: 50px;
  background: rgb(205, 205, 205);
}

#header {
  margin-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}

.content {
  width: 100%;
  height: 83vh;
  display: flex;
}

.left {
  width: 70%;
  height: 100%;
}

.right {
  width: 30%;
  height: 100%;
}

.content-a {
  background: red;
  height: 50%;
}
.content-b {
  background: orange;
  height: 50%;
}
.content-c {
  background: yellow;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .left,
  .right {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #000;
    height: 83vh;
  }


  .left,
  .right {
    width: 100%;
  }

  .left{
    height: 70%;
  }
  .right{
    height: 30%;
  }
  .content-a{
    height: 50%;
  }
  .content-b {
    height: 50%;
  }
  .content-c {
    height: 100%;
  }
}
