* {
  margin: 0;
  padding: 0;
}

#header,
#footer {
  width: 100vw;
  height: 50px;
  background: rgb(205, 205, 205);
}

#header {
  margin-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}

.content {
  width: 100%;
  height: 83vh;
  display: flex;
}

.left {
  width: 70%;
  height: 100%;
}

.right {
  width: 30%;
  height: 100%;
}

.content-a {
  background: rgb(143, 217, 74);
  width: 50%;
  height: 100%;
}
.content-b {
  background: green;
  height: 100%;
  width: 25%;
}
.content-c {
  background: yellow;
  width: 25%;
  height: 100%;
}

@media only screen and (max-width: 375px) {
  .content {
    position: relative !important;
    width: 100%;
  }

  .content-a {
    height: 50%;
  }
  .content-b,
  .content-c {
    width: 100% !important;
  }
  .content-b {
    position: relative !important;
    height: 25% !important;
  }

  .content-c {
    position: relative !important;
    height: 25% !important;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 83vh;
    position: relative;
  }
  .content-a {
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: -1;
  }

  .content-b,
  .content-c {
    width: 50%;
  }
  .content-b {
    position: absolute;
    height: 50%;
    top: 50%;
  }

  .content-c {
    position: absolute;
    height: 50%;
    top: 50%;
    right: 0;
  }
}
